@media (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .content-sobre {
        display: block;
    }
    .sobre-tudo {
        padding: 50px 0;
    }
    .sobre-text {
        font-size: 1rem;
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
    .card-todos {
        grid-template-columns: 1fr;
    }
    .card_card {
        width: 90%;
    }
}

@media (max-width: 638px) {
    .home {
        width: 90%;
        align-items: center;
    }
    .text-front {
        letter-spacing: 0;
        font-size: 40px;
    }
    .content h1 {
        font-size: 40px;
    }
    .content img {
        height: 30px;
    }
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .sobre-text {
        width: 90%;
        letter-spacing: 0;
        font-size: 12px;
    }
}

@media screen (max-width:421px) {
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .content h1 {
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
}

@media(max-width:375px) {
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .content h1 {
        letter-spacing: 0;
        line-height: 70px
    }
    .social-icons .btn {}
}

@media (min-width:646px) and (max-width:700px) {
    .sobre-text {
        width: 90%;
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
}

@media (max-width:706px) {
    .sobre-text {
        width: 90%;
    }
}

@media (max-width: 1365px) {
    .card-todos {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .card_card {
        width: 90%;
        height: auto;
    }
    .projetos {
        align-items: center;
        justify-content: center;
    }
}